body {
    color: white;
    margin: 0;
}


/* inherit继承。a标签默认　不继承。 */

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

.topNavBar-inner {
    padding: 0 16px;
}

.topNavBar nav {
    margin-top: 3px;
    margin-bottom: 3px;
    float: right;
}

.topNavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav ul li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}


/* 解决鼠标放上后，向左晃动，提前用透明边框占位 */


/* display用来解决，a的高度比包裹它的li还高 */

.topNavBar nav ul li a {
    font-size: 12px;
    color: azure;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.logo {
    float: left;
}

.topNavBar nav ul li a:hover {
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e06567;
}

.topNavBar .logo .card {
    color: azure;
}

.banner {
    height: 515px;
}